/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* Common styles  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bcolor: rgb(0,0,0);
}

body {
    font-family: "Poppins", san-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px 20px;
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1220px;
    }
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}


.site-header-wrapper {
    width: 100vw;
    height: 100vh;
}

.first-slide {
    background:linear-gradient(to top, rgba(17, 17, 17,0.5),rgba(39, 39, 39,0.5)), url(../images/water.jpg) no-repeat center center !important;
    background-size: cover !important;
}

.second-slide {
    background:linear-gradient(to top, rgba(17, 17, 17,0.5),rgba(39, 39, 39,0.5)), url(../images/water-2.jpg) no-repeat center center !important;
    background-size: cover !important;
}

.third-slide {
    background:linear-gradient(to top, rgba(17, 17, 17,0.5),rgba(39, 39, 39,0.5)), url(../images/water-3.JPG) no-repeat center center !important;
    background-size: cover !important;
}

.fourth-slide {
    background:linear-gradient(to top, rgba(17, 17, 17,0.5),rgba(39, 39, 39,0.5)), url(../images/rainy-watering.JPG) no-repeat center center !important;
    background-size: cover !important;
}


.slick-dots li {
    width: 280px;
    border-top: 3px solid #fff !important;
}

.site-hero .slick-dots {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 14px;
    line-height: 1.5;
}
.site-hero .slick-dots li {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    width: 280px;
    border-top: 3px solid var(--white);
}
.site-hero .slick-dots span {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    margin-right: 5px;
    font-weight: 600;
}
.site-hero .slick-dots li.slick-active::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 40%;
    height: 3px;
    content: "";
    background-color:#6b9fed;
}
.site-hero .slick-dots li.slick-active {
    opacity: 1;
}

/* Site header  */

.site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}

.site-header__top {
    padding: 15px 0 30px 0;
    display: flex;
    align-items: center;
}

.site-logo {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.site-logo:hover {
    opacity: 0.7;
}

.site-logo img {
    margin-right: 10px;
}

.site-logo  span{
    width: 250px;
}

.site-header__phone-numbers {
    display: flex;
    align-items: center;
}

.phone-number {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    opacity: 1;
    transition: all 0.3s ease;
}

.phone-number:hover {
    opacity: 0.7;
}

.phone-number:not(:last-child) {
    margin-right: 20px;
}

.phone-number i {
    margin-right: 5px;
}

.site-nav__container {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav {
    /* border-bottom: 1px solid #fff; */
}

.site-nav__list {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 30px;
}

.site-nav__item {
    position: relative;
    transition: all 0.3s ease;
}

.site-nav__link {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    opacity: 1;
    transition: all 0.3s ease;
}

.site-nav__link:hover {
    opacity: 0.7;
}

.site-nav__dropdown-menu {
    display: none;
    flex-direction: column;
    width: 350px;
    position: absolute;
    top: 160%;
    transform: translateX(-50%);
    box-shadow: rgba(255, 255, 255, 0.7) 0px 7px 29px 3px;
    animation: growDown 300ms ease-in-out forwards;
    background-color: #fff;
    z-index: 15;
}

.dropdown-link {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    opacity: 0.7;
    text-transform: capitalize;
    color: #272727;
}

.dropdown-link i {
    margin-left: 8px;
    font-size: 12px;
}

.dropdown-link:hover i {
    animation: subDropdownIcon 300ms ease-in-out forwards;
}

.dropdown-item:hover {
    background: linear-gradient(to top, rgba(17, 17, 17,0.6),rgba(39, 39, 39,0.6));
}

.dropdown-item:hover .dropdown-link {
    color: #fff;
    opacity: 1;
}

.site-nav__item:hover .site-nav__dropdown-menu {
    display: flex;
}

.site-nav__link i {
    font-size: 14px;
}

.site-nav__item:hover .site-nav__link i {
    animation: dropdownIcon 300ms ease-in-out forwards;
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes dropdownIcon {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes subDropdownIcon {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(45deg)
    }
    100% {
        transform: rotate(90deg)
    }
}

.second-dropdown {
    display: none !important;
    position: absolute;
    top: 0;
    left: 100%;
}

.dropdown-item {
    position: relative;
}

.second-dropdown .dropdown-link {
    color: #272727 !important;
}

.second-dropdown .dropdown-item:hover .dropdown-link {
    color: #fff !important;
}

.dropdown-item:hover .second-dropdown {
    display: flex !important;
}

.site-nav__language {
    position: relative;
}

.default-lang {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
}

.default-lang:hover i {
    animation: dropdownIcon 300ms ease-in-out forwards;
    opacity: 0.7;
}

.default-lang i {
    font-size: 14px;
    margin-left: 5px;
}

.option-langs {
    width: 100px;
    position: absolute;
    top: 50px;
    left: -10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 7px 29px 3px;
    animation: growDown 300ms ease-in-out forwards;
    background-color: #fff;
    z-index: 15;
    color: #272727;
}


.option-lang {
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.option-lang:hover {
    background: linear-gradient(to top, rgba(17, 17, 17,0.6),rgba(39, 39, 39,0.6));
    color: #fff;
}

.site-nav__language:hover .option-langs {
    display: flex;
}